<h1>Uptime Monitoring</h1>
<h2>Made Simple</h2>

<div class="blurb" contenteditable="true">We offer free, simple uptime monitoring for HTTP/HTTPS sites all kinds. When your site goes down, we'll send you a text to let you know.
  The use of certain IT methods to increase the efficiency of data processing, application distribution and overall server performance. 
  When a company relies on the availability and functionality of its network for everyday business practices, that network should be working at maximum efficiency. This is the core of what we do.
  We keep you up and running 24/7 365days a year.
</div>
<div class="ctaWrapper">
  <a class="cta green" href="account/create">Get Started</a>
  <a class="cta blue" href="session/create">Login</a>
</div>


<!-- <p>
  <img class="front-image" src="public/test.jpg" />
</p> -->